html,
body {
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 24px;

    min-width: 960px;
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.row {
    margin: 0 auto;
    max-width: 940px;
    display: flex;
    flex-wrap: wrap;
}

$cols: 12;
$bg:#ffbb02;


@for $i from 1 through $cols {
    .col-#{$i} {
        width: (100 / ($cols / $i)) * 1%;
    }
}

[class*="col-"] {
    padding-left: 15px;
    padding-right: 15px;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px
}

.wrapper {
    max-width: 970px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto
}

img {
    max-width: 100%;
}