.header {}

.header-top {
     background-color: $bg;
}

.header-top__wrapper {
     justify-content: space-between;
}

.header-bottom__wrapper {
     width: 100%;
     display: flex;
     align-items: center;
}



.header-top__logo-text {
     position: absolute;
     font-size: 27px;
     font-weight: 700;
     left: 40px;
     text-transform: uppercase;
}



.header-top__container {
     display: flex;
     padding-top: 16px;
     padding-bottom: 20px;
     position: relative;

}

.header-top__title {
     font-size: 14px;
     line-height: 24px;
     padding-left: 15px;
     text-transform: uppercase;
}

.header-top__address {
     font-size: 14px;
     text-align: right;
}

.header-top__address a {
     display: block;
     color: #000000;
     text-decoration: none;
}

.header-bottom {
     display: flex;
     align-items: center;
}


.header-bottom__logo {
     vertical-align: top;
}