.info {
    height: 40px;
    width: 100%;
    font-weight: bold;
    border: 1px solid #cdcdcd;
    padding-left: 20px;
    margin-top: 29px;
    font-size: 24px;
    padding-top: 5px;
    margin-bottom: 30px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}