/*
.slider {
    background-image: url(../../images/main.jpg);
    background-size: cover;
    background-position: center;
}
*/

.slider {
    position: relative;
    overflow: hidden;
}

// .slider__main-bg {
//     position: absolute;
//     top: 0;
//     left: 0;
//     right: 0;
//     bottom: 0;
// }

.slider__main-bg {
    width: 100%;
    vertical-align: top;
}

.slider__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.slider-right__buttons {
    position: absolute;
    right: 15px;
    width: 16px;
}

.slider-right__buttons button {
    width: 16px;
    height: 16px;
    margin-top: 16px;
    cursor: pointer;
    border: none;
    background-color: #000;

    &.active {
        background-color: #fff;
        cursor: default;
    }
}

.slider-bottom__buttons {
    position: absolute;
    left: 50%;
    bottom: 0;
}

.slider-bottom__button {
    width: 30px;
    height: 30px;
    background: url("../../images/arrow-left.png");
    border: none;
    display: block;
    cursor: pointer;
}

.slider-bottom__button--right {
    transform: scale(-1, -1);
    margin-left: 30px;
}

.main-slider__wrapper {
    display: flex;
}