.tasks__wrapper {
    padding: 47px 0 107px 0;
}

.tasks__title {
    font-style: 24px;
    line-height: 24px;
    font-weight: bold;
}

.tasks__box {
    font-style: 24px;
    line-height: 24px;
    font-weight: bold;
}

.tasks__input {
    position: relative;
    width: 100%;
    height: 40px;
    border: 2px solid #535353;
    border-radius: 5px;
    box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.35);
}

.tasks__item {
    display: flex;
    align-items: center;
}

.tasks__item p {
    margin-right: 45px;

}

.tasks__item-button {
    margin-right: 27px;
    border: none;
    cursor: pointer;
}

.tasks__item-button--pen {
    background: url("../../images/pen.png");
    height: 18px;
    width: 17px;
}

.tasks__item-button--delete {
    height: 14px;
    width: 14px;
    background: url(../../images/close.png);
}

.tasks__input {
    margin-right: 34px;
}

/*
.tasks__input::after {
    content: "";
    position: absolute;
    display: block;
    height: 18px;
    width: 17px;
    background: url(../../images/pen.png);
    top: 0;
    left: 90px;
    cursor: pointer;
}

.tasks__input::before {
    content: "";
    position: absolute;
    display: block;
    height: 18px;
    width: 17px;
    background: url(../../images/pen.png);
    top: 0;
    left: 90px;
    cursor: pointer;

}


.tasks__container p {
    position: relative;
}

.tasks__container p::after {
    content: "";
    position: absolute;
    display: block;
    height: 18px;
    width: 17px;
    background: url(../../images/pen.png);
    top: 0;
    left: 90px;
    cursor: pointer;
}

.tasks__container p::before {
    content: "";
    position: absolute;
    display: block;
    height: 14px;
    width: 14px;
    background: url(../../images/close.png);
    top: 3px;
    left: 120px;
    cursor: pointer;
}

*/