.tasks__wrapper {
    padding: 47px 0 107px 0;
}

.tasks__title {
    font-style: 24px;
    line-height: 24px;
    font-weight: bold;
}

.tasks__box {
    font-style: 24px;
    line-height: 24px;
    font-weight: bold;
}

.tasks__input {
    position: relative;
    width: 100%;
    height: 40px;
    border: 2px solid #535353;
    border-radius: 5px;
    box-shadow: 0 3px 5px 0 rgba(0, 0, 0.35, 0);
}

.tasks__input::after {
    content: "";
    position: absolute;
    display: block;
    height: 18px;
    width: 17px;
    background: url(../../images/pen.png);
    top: 0;
    left: 90px;
    cursor: pointer;
}

.tasks__input::before {
    content: "";
    position: absolute;
    display: block;
    height: 18px;
    width: 17px;
    background: url(../../images/pen.png);
    top: 0;
    left: 90px;
    cursor: pointer;

}


.tasks__container p {
    position: relative;
}

.tasks__container p::after {
    content: "";
    position: absolute;
    display: block;
    height: 18px;
    width: 17px;
    background: url(../../images/pen.png);
    top: 0;
    left: 90px;
    cursor: pointer;
}

.tasks__container p::before {
    content: "";
    position: absolute;
    display: block;
    height: 14px;
    width: 14px;
    background: url(../../images/close.png);
    top: 3px;
    left: 120px;
    cursor: pointer;
}