.transports {
    padding: 65px 0 45px 0;
}

.transports__wrapper {}

.transports__image {
    vertical-align: top;

}

.transports__name {
    margin: 0;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
}