.transports {
    padding: 65px 0 45px 0;
}

.transports__wrapper {
    margin: 0 auto;
    max-width: 940px;
    display: flex;

}

.transports__image {
    font-size: 0;
    line-height: 0;

}

.transports__name {
    margin: 0;
    margin-bottom: 40px;
    font-size: 20px;
    font-weight: bold;
}